<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
  http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>web_login</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
  	<servlet-name>web_login</servlet-name>
  	<servlet-class>web_login.ServletDemo</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>web_login</servlet-name>
  	<url-pattern>/loginServet</url-pattern>
  </servlet-mapping>
    <servlet>
  	<servlet-name>downloadServlet</servlet-name>
  	<servlet-class>web_login.DownloadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>downloadServlet</servlet-name>
  	<url-pattern>/DownloadServlet</url-pattern>
  </servlet-mapping>
   <servlet>
  	<servlet-name>registerServlet</servlet-name>
  	<servlet-class>web_login.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>registerServlet</servlet-name>
  	<url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
     <servlet>
  	<servlet-name>goodsList</servlet-name>
  	<servlet-class>web_login.GoodsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>goodsList</servlet-name>
  	<url-pattern>/GoodsServlet</url-pattern>
  </servlet-mapping>
     <servlet>
  	<servlet-name>goodsId</servlet-name>
  	<servlet-class>web_login.BuyGoodsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>goodsId</servlet-name>
  	<url-pattern>/BuyGoodsServlet</url-pattern>
  </servlet-mapping>
    <servlet>
  	<servlet-name>buyGoodsId</servlet-name>
  	<servlet-class>web_login.GoodsIdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>buyGoodsId</servlet-name>
  	<url-pattern>/GoodsIdServlet</url-pattern>
  </servlet-mapping>
</web-app>